# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / output
dist/
build/
coverage/

# temp files
temp/


# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.cache/
*.pid
*.seed
*.pid.lock

# Package lock files
package-lock.json
yarn.lock